/*===== Not The CSS :P =====*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

#wrapper {
  position: relative;
  top: 80px;
  width: 404px;
}
.center {
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

/*===== The CSS =====*/
.iprogress {
  width: 100px;
  height: 96px;
}
.iprogress .track,
.iprogress .fill {
  fill: rgba(0, 0, 0, 0);
  transform: rotate(90deg) translate(0px, -80px);
  stroke-width: 8;
}
.iprogress .track {
  stroke: rgb(149 152 154 / 26%);
}
.iprogress .fill {
  stroke: rgb(255, 255, 255);
  stroke-dasharray: 219.99078369140625;
  stroke-dashoffset: -219.99078369140625;
  transition: stroke-dashoffset 1s;
}
.iprogress.blue .success {
  stroke: rgb(104, 214, 198);
}
.iprogress.blue .warn {
  stroke: orange;
}
.iprogress.blue .danger {
  stroke: #ff7373;
}
.iprogress.green .fill {
  stroke: rgb(186, 223, 172);
}
.iprogress .value,
.iprogress .text {
  font-family: "Open Sans";
  fill: black;
  text-anchor: middle;
}
.iprogress .text {
  font-size: 12px;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.is-flex {
  display: flex;
}

.h-100 {
  height: 100%;
}
.danger {
  background-color: #ff7373;
}
.danger::after {
  background-color: #ff7373;
}
.warn {
  background-color: orange;
}
.warn::after {
  background-color: orange;
}
.success {
  background-color: rgb(104, 214, 198);
}
.success::after {
  background-color: rgb(104, 214, 198);
}
.hprogress-container {
  box-shadow: 0 4px 5px rgb(0, 0, 0, 0.1);
}

.hprogress-container,
.hprogress {
  border-radius: 5px;
  position: relative;
  height: 7px;
}

.hprogress {
  width: 0;
  transition: width 0.4s linear;
}

.percentage {
  border-radius: 5px;
  box-shadow: 0 4px 5px rgb(0, 0, 0, 0.2);
  color: #fff;
  font-size: 12px;
  padding: 4px;
  position: absolute;
  top: 20px;
  left: 0;
  transform: translateX(-50%);
  text-align: center;
  transition: left 0.4s linear;
}

.percentage::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  height: 10px;
  width: 10px;
  z-index: -1;
}
