{% extends "templates/web.html" %}
{% block style %}
<style>
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .image {
    width: 400px;
  }
</style>
{% endblock %}
{% block page_content %}
<div class="main">
    <center>
      <img
        class="image"
        src="/assets/clientside/images/login_redirect_loader.gif"
        alt=""
      />
    </center>
</div>
{% endblock %}
{% block script %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
  integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="./redirect.js"></script>
{% endblock %}
