{% extends "templates/web.html" %} {% block style %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/css/uikit.min.css"
/>
<style></style>
{% endblock %} {% block page_content %}
<div class="main">
  <h1 class="text-3xl font-bold">Add ons</h1>
  <div class="cards">
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
      <h3 class="uk-card-title">India compliance</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nihil
        officia quo necessitatibus? Earum omnis minus provident nobis libero
        blanditiis quas nisi sequi. Rem eum esse enim iure obcaecati maxime.
      </p>
      <button
        id="installApp"
        class="uk-button uk-button-primary"
        onclick="installApp"
      >
        Install
      </button>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit-icons.min.js"></script>

<script src="https://cdn.tailwindcss.com"></script>
<script src="./marketplace.js"></script>
{% endblock %}
