{% extends "templates/web.html" %} {% block style %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/css/uikit.min.css"
/>
<style>
  .navbar,
  .web-footer {
    display: none;
  }
  .main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
{% endblock %} {% block page_content %}
<div class="main">
  <div>
    <span uk-spinner="ratio: 4.5"></span>
    <p style="text-align: center">Hold on, Logging you in</p>
  </div>
</div>
{% endblock %} {% block script %}
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit-icons.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"
></script>
<script src="./redirect.js"></script>
{% endblock %}
