{% extends "templates/web.html" %} {% block style %}
<style>
  .navbar,
  .web-footer {
    display: none;
  }
  .main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
{% endblock %} {% block page_content %}
<div class="main">
  <div>
    <img
      height="420px"
      src="https://wregegwr.s3.amazonaws.com/loader-finale02+(1).gif"
      alt=""
      srcset=""
    />
  </div>
</div>
{% endblock %} {% block script %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
  integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="./redirect.js"></script>
{% endblock %}
